# **Modelo de Credito**

In [29]:
import pandas as pd
import numpy as np
import pickle

In [2]:
#!pip insall pandas

In [3]:
train = pd.read_csv('dat.csv') 
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
train['Gender']= train['Gender'].map({'Male':0, 'Female':1})

In [5]:
train['Married']= train['Married'].map({'No':0, 'Yes':1})

In [6]:
train['Loan_Status']= train['Loan_Status'].map({'N':0, 'Y':1})

In [7]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0.0,0.0,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,1
1,LP001003,0.0,1.0,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0
2,LP001005,0.0,1.0,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1
3,LP001006,0.0,1.0,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1
4,LP001008,0.0,0.0,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1

In [8]:
train.shape

(614, 13)

In [9]:
# Datos 
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [10]:
train = train.dropna()

In [11]:
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [12]:
len(train)

480

In [13]:
614-480

134

In [14]:
134/614

0.2182410423452769

**Modelo**

In [15]:
X=train[['Gender', 'Married', 'ApplicantIncome', 'LoanAmount', 'Credit_History']]

In [16]:
X

     Gender  Married  ApplicantIncome  LoanAmount  Credit_History
1       0.0      1.0             4583       128.0             1.0
2       0.0      1.0             3000        66.0             1.0
3       0.0      1.0             2583       120.0             1.0
4       0.0      0.0             6000       141.0             1.0
5       0.0      1.0             5417       267.0             1.0
..      ...      ...              ...         ...             ...
609     1.0      0.0             2900        71.0             1.0
610     0.0      1.0             4106        40.0             1.0
611     0.0      1.0             8072       253.0             1.0
612     0.0      1.0             7583       187.0             1.0
613     1.0      0.0             4583       133.0             0.0

[480 rows x 5 columns]

In [17]:
y=train.Loan_Status

In [18]:
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int64

In [19]:
X.shape, y.shape

((480, 5), (480,))

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 10)

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
model = RandomForestClassifier(max_depth=4, random_state = 10)

In [24]:
model.fit(x_train, y_train)

RandomForestClassifier(max_depth=4, random_state=10)

In [25]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [26]:
prediccion=model.predict(x_test)

In [27]:
accuracy_score(y_test,prediccion)

0.8020833333333334

In [28]:
print(classification_report(y_test,prediccion))

              precision    recall  f1-score   support

           0       1.00      0.34      0.51        29
           1       0.78      1.00      0.88        67

    accuracy                           0.80        96
   macro avg       0.89      0.67      0.69        96
weighted avg       0.85      0.80      0.77        96

In [30]:
pickle_out = open("test.pkl", mode = "wb") 
pickle.dump(model, pickle_out) 
pickle_out.close()